
.title-card{
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-left: 23px;
    margin-top: -15px;
    text-transform: capitalize;
}
.card {
    width: 300px;
    margin: 20px auto;
    
}

.artist-card {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 23px;
    font-size: 15px;
    text-transform: capitalize;
}

.year-card {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 23px;
}

.card-content {
    margin-left: 23px;
    font-size: 15px;
    margin-right: 10px;
}

.float{
	position: absolute;;
	width:60px;
	height:60px;
	bottom:50px;
	right:20px;
	background-color:#509aaf;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
    color: white;
	margin-top:22px;
}

@media screen and (max-width: 400px) {

    /* .card {
        width: 100%;
        margin: 20px auto;
        
    } */
   
}
