.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container aside {
    background: red;
    width: 30%; }
  .container main {
    background: yellow;
    width: 70%; }
