.App {
  text-align: center;
}

/* main {
  background-color: beige
} */

.container {
position: relative;
margin-top: 25px;
width: 100px;
 /* height: 400px; */
}

.center-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  position: relative;
    max-width: 600px;
    height: 600px;
}