
.vinyl-item-p{
    text-align: center;
    border-top: 1px solid #efecec;
    /* border-bottom: 1px solid #efecec; */
    padding-bottom: 15px;
    padding-top: 15px;
}


.title{
    font-weight: bold;

}


.vinyl-img-small-p{
    width: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {

    .title{
        font-size: 15px;
        
    }
    
    .artist{
        display: none;
    }

    .vinyl-item-p{
        text-align: left;

    }

    .vinyl-img-small-p{
        width: 30px;
        border-radius: 50%;
    }

}